<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% extends 'layouts/base.html' %}

    {% block content %}
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium a optio quod voluptatum doloremque, voluptate accusamus nihil tempore modi asperiores tenetur facere perspiciatis ut fugiat quam commodi consequuntur in eum neque? Dignissimos quidem dolores eos pariatur ullam quo, doloremque ipsam totam vitae cum architecto error expedita molestias illo quod, dolorum nisi enim autem veritatis aperiam! Nostrum itaque hic, placeat optio quo id ducimus eum blanditiis exercitationem officiis quis earum, totam cumque animi sit! Illum, praesentium labore molestiae dolor porro molestias illo, suscipit ipsam assumenda numquam minima, blanditiis deleniti veniam iure atque vero animi! Nostrum quas dolores voluptas porro, dolore cupiditate.
    </p>

    <p>Web site create by {{ username }}</p>
    {% endblock %}
    
</body>
</html>